/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  /* برای همه عناصر، width و height طوری محاسبه شوند که padding و border هم داخل اندازه تعیین‌شده حساب شوند */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
    font-family: 'Outfit', sans-serif;

}